BODY {color: #660000; font-family: verdana; font-size: 8pt; }
TD {color: #660000; font-family: verdana; font-size: 8pt;}
A:link {color: #191970; }
A:visited {color: #191970; }
A:hover {text-decoration: none; color: #191970; }

